[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = https://github.com/magnars/dash.el.git
	ignore = dirty
[submodule "site-lisp/compat"]
	path = site-lisp/compat
	url = https://github.com/emacs-compat/compat.git
	ignore = dirty
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = https://github.com/magit/with-editor.git
	ignore = dirty
[submodule "site-lisp/transient"]
	path = site-lisp/transient
	url = https://github.com/magit/transient.git
	ignore = dirty
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
	ignore = dirty
[submodule "site-lisp/cond-let"]
	path = site-lisp/cond-let
	url = https://github.com/tarsius/cond-let.git
	ignore = dirty
[submodule "site-lisp/llama"]
	path = site-lisp/llama
	url = https://github.com/tarsius/llama.git
	ignore = dirty
[submodule "site-lisp/vterm"]
	path = site-lisp/vterm
	url = https://github.com/akermu/emacs-libvterm.git
	ignore = dirty
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile.git
	ignore = dirty
[submodule "site-lisp/perspective"]
	path = site-lisp/perspective
	url = https://github.com/nex3/perspective-el.git
	ignore = dirty
[submodule "site-lisp/persp-projectile"]
	path = site-lisp/persp-projectile
	url = https://github.com/bbatsov/persp-projectile.git
	ignore = dirty
[submodule "site-lisp/inheritenv"]
	path = site-lisp/inheritenv
	url = https://github.com/purcell/inheritenv.git
	ignore = dirty
[submodule "site-lisp/mise"]
	path = site-lisp/mise
	url = https://github.com/liuyinz/mise.el.git
	ignore = dirty
[submodule "site-lisp/md-ts-mode"]
	path = site-lisp/md-ts-mode
	url = https://github.com/dnouri/md-ts-mode.git
	ignore = dirty
[submodule "site-lisp/hl-todo"]
	path = site-lisp/hl-todo
	url = https://github.com/tarsius/hl-todo
	ignore = dirty
[submodule "site-lisp/terraform-ts-mode"]
	path = site-lisp/terraform-ts-mode
	url = https://codeberg.org/ccbash-oss/terraform-ts-mode.git
	ignore = dirty
[submodule "site-lisp/rg"]
	path = site-lisp/rg
	url = https://github.com/dajva/rg.el
	ignore = dirty
[submodule "site-lisp/wgrep"]
	path = site-lisp/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
	ignore = dirty
